Django>=4.2,<5.0
djangorestframework>=3.14.0,<3.15
djangorestframework-simplejwt>=5.3.1,<5.4
pyyaml>=6.0.2,<7.0
requests>=2.31.0,<3.0
django-cors-headers>=4.3.1,<5.0
asgiref==3.8.1
celery==5.5.0
django-ckeditor==6.2
django-filter>=23.2,<24.0
django-recaptcha==3.0.0
gunicorn>=20.1.0,<21.0
pillow==10.4.0
psycopg2-binary==2.9.10
PyJWT==2.9.0
pytz==2025.2
redis>=5.0,<6.0
django-redis>=5.0,<6.1
sqlparse==0.5.3
